<ul>
{% set level = 1 %}
{% for category in categories %}

        {% if category.level < level %}
            {% set level = level - 1 %}
            </li></ul>
        {% endif %}

        {% if category.level > level %}
            {% set level = level + 1 %}
            <ul><li>
        {% else %}
            <li>
        {% endif %}

        <a href="{{ path('category', {slug: category.slug}) }}" >{{ category.name }}</a>

    </li>
{% endfor %}
</ul>
