{% macro categoryTree(categories) %}
<ul>
{% for category in categories %}
    <li>
        <a href="{{ path('category', {slug: category.slug}) }}" >{{ category.name }}</a>
        {% if category.children.count > 0 %}
            {{ _self.categoryTree(category.children) }}
        {% endif %}
    </li>
{% endfor %}
</ul>
{% endmacro %}

{% import _self as macros %}

{{ macros.categoryTree(categories) }}
